*{
	magin: 0;
	padding: 0;
}

body{
	font-family: Helvetica;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00FFFF;
	color: black;
	font-weight: bolder;
	font-size: 150%;
}