doctype html
head
	meta(charset='utf-8')
	title Gabriel Dornianu
	link(rel='icon', href='images/icon.png')
	link(rel='stylesheet' href='css_files/general_styling.css')
body()
	.introduction
		h1(class='soon') Coming soon
		h3

	.projects
	.links
	script(src='javascript_files/basic_functionality.js', typte='text/javascript')
