doctype html
head
	meta(charset='utf-8')
	title Gabriel Dornianu
	link(rel='icon', href='images/icon.png')
	link(rel='stylesheet' href='css_files/general_styling.css')
body(onscroll='parallax(event)')
	img(src='images/page_background.jpg', class='page_background')
	.content
		.introduction
			h1 Greetings
				br
				| I am Gabriel
				br
				| And i am a front end developer
			h1 At the time being
				|  the website is still under construction
		.skills
			.skills_title
				h1 My skills
			.skill
			.skill
			.skill
			.skill
			.skill
		.projects
			.projects_title
				h1 My projects
		.contact
			ul
				li Email: 
					a(href='mailto:gabrieldornianu@yahoo.com') Gabriel Dornianu
				li Phone: +4 0755 653 633
				li Skype: gabriel.dornianu
				li Made and mantained by 
					a(href='mailto:gabrieldornianu@yahoo.com') Gabriel Dornianu
	script(src='javascript_files/basic_functionality.js', typte='text/javascript')
	
