doctype html
head
	title Gabriel Dornianu
	link(rel='icon', href='images/icon.png')
	link(rel='stylesheet' href='css_files/general_styling.css')
body(class='body')
	.introduction
		h1 Greetings
			br
			| I am Gabriel
			br
			| And i am a front end developer
	.skills
	.projects
		
